/**
 * You might tweak these..
 */



/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #FFF; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

@font-face {
    font-family: 'Bree';
    src: url('http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/fonts/breeregular-webfont.eot');
    src: url('http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/fonts/breeregular-webfont.eot?iefix') format('eot'),
         url('http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/fonts/breeregular-webfont.woff') format('woff'),
         url('http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/fonts/breeregular-webfont.ttf') format('truetype'),
         url('http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/fonts/breeregular-webfont.svg#webfontnUFwf05M') format('svg');
    font-weight: normal;
    font-style: normal;

}